{% load staticfiles i18n %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/ico" href="{% if CONFIG.favicon %}{{ CONFIG.favicon.url }}{% else %}/static/assets/img/favicon.ico{% endif %}">
	<title>{% block title %}{% trans "Home" %}{% endblock title %} | {% trans "Exchange Crypto Currency" %}</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta http-equiv="description" name="description" content="{{ CONFIG.meta_description }}">
	<meta http-equiv="keywords" name="keywords" content="{{ CONFIG.meta_keywords }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="all,follow">
	<link rel="stylesheet" type="text/css" href="/static/assets/css/base.css">
	{% block extracss %}{% endblock extracss %}
</head>
<body class="fixed-nav sticky-footer" id="page-top">
{% block content %}{% endblock content %}
<script type="text/javascript" src="/static/assets/libs/jq/jquery.min.js"></script>
<script type="text/javascript" src="/static/assets/libs/bs4/js/popper.min.js"></script>
<script type="text/javascript" src="/static/assets/libs/bs4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/assets/libs/jquery-easing/jquery.easing.min.js"></script>
<script type="text/javascript" src="/static/assets/libs/sb-admin/js/sb-admin.min.js"></script>
{% block extrajs %}{% endblock extrajs %}
</body>
</html>